:root {
  --cral-blue: #C9DAE1;
}

.cral-icon--info {
  border-color: var(--cral-blue);

  /* "i"-letter body */
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: var(--cral-blue);
  }
  /* "i"-letter dot */
  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: var(--cral-blue);
    left: 50%;
  }
}

